
@media ( min-width: 768px ) {
    .main-contenedor{
        display: grid;
        grid-template-columns: 20% 80%;
        
    }
    .contenido{
        margin: 0 0 0 4rem;
    }
}

.centrar-s{
    display: flex;
    justify-content: center;
}


