

<ul class="scroll">
    <li routerLink=""
    routerLinkActive="active" 
    [routerLinkActiveOptions]="{exact: true}"
    >Search by name</li>

    <li routerLink="ingredient"
        routerLinkActive="active"  
    >Search by ingredient</li>

    <li routerLink="category"
        routerLinkActive="active"  
    >Search by category</li>

    <li routerLink="alcoholic"
        routerLinkActive="active"        
    >Search by alcoholic</li>

    <li routerLink="random"
        routerLinkActive="active"  
    >Search by random</li>

</ul>

