<div class="contenedor-info">
    <div class="img">
        <img [src]="cocktail.strDrinkThumb">
    </div>
    <div class="data">

        <h3>{{ cocktail.strDrink }}</h3>
        <h4 class="category">Category: <span>{{ cocktail.strCategory }}</span></h4>
        <div class="centrar">
            <h4>Alcoholic:</h4>
            <span *ngIf="cocktail.strAlcoholic === 'Alcoholic'">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="28" height="28"
                    viewBox="0 0 24 24" stroke-width="1.5" stroke="#00b341" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M5 12l5 5l10 -10" />
                </svg>
            </span>
            <span *ngIf="cocktail.strAlcoholic !== 'Alcoholic'">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <line x1="18" y1="6" x2="6" y2="18" />
                    <line x1="6" y1="6" x2="18" y2="18" />
                  </svg>
            </span>
        </div>
    
        <div class="ingredients">
            <h4>Ingredients: </h4>
            <ul>
                <li *ngFor="let i of ingredients;">{{ i }}</li>

             
            </ul>
            <h4>Instructions: </h4>
            <p>
                {{ cocktail.strInstructions }}
            </p>
        </div>
    
    
    </div>
</div>